<!DOCTYPE html>
<html>
<head>
    <title>BevChill</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>BevChill</h1>

        <p>Powered by Flask/Socket.io</p>
    </div>
</div>

</div>

<div class="container col-md-4" id="content">
    <div class="row">
        <h3>Live Temperature Data</h3>

        <div id="data"></div>

    </div>
</div>


</body>
</html>