<!DOCTYPE html>
<html>
<head>
    <title>BevChill</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="static/js/application.js"></script>

</head>

<body>

<div class="container"> 
    <div class="row"> 
        <!--Title Section-->
        <div class="col-sm-6">
            <h1>Bev Chill</h1>
            <div id="connectButton" class="disconnected">Connection</div>

            <h4>Live Data</h4>
            <div id="data">
                <!--Data Section-->
            </div>
        </div>

        <!--Chart Section-->
        <div class="col-sm-6">
            <h3>Temperature</h3>
            <canvas id="myChart"></canvas>
        </div> 
    </div> 
</div>

</body>
</html>